.page {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.feed {
  width: 608px;
  height: 852px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 5px;
}

.custom_scroll::-webkit-scrollbar {
  width: 12px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: lightgray;
}

.workspace {
  width: 580px;
  height: 626px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.monitor {
  display: flex;
}

.orders {
  width: 272px;
  display: flex;
  flex-direction: column;
}

.number {
  display: flex;
  flex-direction: column;
  color: rgba(0, 204, 204, 1);
}
