.wrapper {
  display: flex;
  margin-top: 120px;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;
  border: 2px;
}

.about {
  width: 320px;
  height: 48px;
  border: 2px;
}

.navButton {
  font-size: 24px;
  color: darkgrey;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-shadow: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orders_history {
  width: 844px;
  height: 916px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 5px;
}

.custom_scroll::-webkit-scrollbar {
  width: 12px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.orders {
  max-width: 844px;
  text-decoration: none;
  cursor: pointer;
  color: lightgray;
}

.link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}