.modal_ingredient {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}


.modal_img {
  width: 480px;
  height: 240px;
}

.modal_about {
  display: flex;
}

.modal_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
