.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  max-height: 696px;
  min-height: 696px;
}

.items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.cart_controll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart_price {
  display: flex;
  align-items: center;
}

.bun {
  max-height: 80px;
}
